body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ec88df;
    user-select: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg,
            #130308 0%,
            #923d8b 30%,
            #d1436e 70%,
            #f3d8f1 100%);
    padding: 40px 60px;
    border-radius: 16px;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset-button {
    padding: 15px 20px;
    width: 100%;
    color: #000;
    background-color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
}

.reset-button:focus {
    color: #b12c6e;
    background-color: #000;
}

.game-board {
    display: flex;
    width: 430px;
    height: 430px;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #535353;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.card.boxOpen {
    transform: rotateY(0deg);
}
.card.boxOpen::after, .boxMatch::after {
    transform: rotateY(180deg);
}

